<h3 style="position:relative;left:42%; top:35%;">Leaderboard</h3>

<p style="position:relative;left:42%; top:35%;">1. Ben Bay</p>
<p style="position:relative;left:42%; top:35%;">2. Matt Lloyd</p>
<p style="position:relative;left:42%; top:35%;">3. Dane Olenslager</p>
<p style="position:relative;left:42%; top:35%;">4. Austin Soderquist</p>
<p style="position:relative;left:42%; top:35%;">5. Jonathon Wagstaff</p>
<p style="position:relative;left:42%; top:35%;">6. Zach Luker</p>
<p style="position:relative;left:42%; top:35%;">7. Grant Lubeck</p>

