<h3>Two Truths and a Lie</h3>

<div style="position:relative;left:35%; top:35%;">
  <label style="color:black"><input type="radio" name="optradio"> Missionaries are slaves to the rules and can’t do anything without getting sent home.
</label>
</div>
<div style="position:relative;left:35%; top:45%;">
  <label style="color:black"><input type="radio" name="optradio"> Missionaries are to exercise their agency in their daily lives.
</label>
</div>
<div style="position:relative;left:35%; top:55%;">
  <label style="color:black"><input type="radio" name="optradio"> Missionaries must obey the rules designated in the white handbook.
</label>
</div>