
  <h2 style="position:relative;left:45%; top:25%;">Who Said It</h2>

  <p style="position:relative;left:27%; top:30%;">A man filled with the love of God is not content with blessing his family alone, but ranges through the whole world, anxious to bless the whole human race.</p>

<div style="position:relative;left:35%; top:35%;">
  <label style="color:black"><input type="radio" name="optradio"> Donald Trump
</label>
</div>
<div style="position:relative;left:35%; top:45%;">
  <label style="color:black"><input type="radio" name="optradio"> Alma the Younger
</label>
</div>
<div style="position:relative;left:35%; top:55%;">
  <label style="color:black"><input type="radio" name="optradio"> Orson Pratt
</label>
</div>
<div style="position:relative;left:35%; top:65%;">
  <label style="color:black"><input type="radio" name="optradio"> Joseph Smith
</label>
</div>